<title> Ahhhh </title>
<h1>SHOW</h1>
<br>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.rating %></p>

<label for="fuel">Rating level:</label>

<meter id="fuel" min="0" max="10" low="3" high="6" optimum="80" value="<%= @restaurant.rating %>">at 50/100</meter>

<hr>
<%= link_to "Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to "vers NEW_restaurants", restaurants_new_path %>
<br>
<%= link_to "vers restaurants", restaurants_path %>
<br>
<%= link_to "vers édition", edit_path %>